@import 'variables.less';

body{
    margin: 0;
    padding: 0;
}

.sheet{
    font-family: @BASE_FONT;
    font-size: @BASE_FONT_SIZE;
    width: @SHEET_WIDTH;
    margin: 0px auto;
    position: relative;
    padding-top: 80px;

    .header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ccc;
	padding: 8px;
    }

    textarea{
	font-family: @BASE_FONT;
	font-size: @BASE_FONT_SIZE;
	width: 100%;
	border-style: none;
    }

    .editable{
	padding: 10px;
	cursor: pointer;
    }
    .editable:hover{
	padding: 8px;
	border: dashed 2px #ccc;
    }
    
    .hidden{
	display: none;
    }
    .show{
	display: block;
    }

    .header{
	h2:before{
	    content: 'タイトル：';	    
	}
    }

    .p{
    }

    .select1{
	list-style: none;
	padding: 0;
	display: table;

	li{
	    display: table-cell;
	}
    }
}