@import 'variables.less';
@import 'mixin.less';

body{
    margin: 0;
    padding: 0;
}

.sheet{
    font-family: @BASE_FONT;
    font-size: @BASE_FONT_SIZE;
    width: @SHEET_WIDTH;
    margin: 0px auto;
    position: relative;
    padding-top: 80px;
    
    .edit {
	input[type="text"]{
	    width: 720px;
	}
    }

    .manipulatable{
	position: relative;

	.control{
	    position: absolute;
	    top: 0;
	    right: 0;
	    font-size: small;
	    a{
		color: #999;
		text-decoration: none;
		margin-left: 5px; 
	    }
	}
    }

    .header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ccc;
	padding: 8px;
    }

    textarea{
	font-family: @BASE_FONT;
	font-size: @BASE_FONT_SIZE;
	width: 100%;
	border-style: none;
    }
    
    .hidden{
	.hidden();
    }
    .show{
	display: block;
    }
    .title:before{
	content: 'タイトル：';
    }
    .title{
	margin-left: 1em;
	font-size: small;
	display: inline-block;
	.editable{
	}
    }

    .h{
	.unit();
	h2{
	    padding: 0;
	    margin: 0;
	}
    }
    .p{
	.unit();
	p{
	    margin: 0;
	}
    }

    .selectone{
	li{
	    span{
		display: block;
	    }
	    .hidden{
		.hidden();
	    }
	    .unit();
	}
    }

    .matrix-form:before{
	content: 'マトリックス';
	display: block;
	border-bottom: solid 1px #ccc;
    }
    .matrix-form{
	border-bottom: solid 1px #ccc;
	.column-array:before{
	    display: block;
	    content: '尺度';
	    background-color: #ccc;
	    float: left;
	    width: 1em;
	    padding: 8px;
	}
	.row-array:before{
	    display: block;
	    content: '質問項目';
	    background-color: #ccc;
	    float: left;
	    width: 1em;
	    padding: 8px;
	}
	.row-array{
	    padding-left: 0;
	    margin-left: 0;

	    .group{
		margin-left: 4em;
		.unit();
	    }
	}
	overflow: auto;

	.selectone{
	    margin-left: 2em;
	}
    }

    .textarea{
	content: '表示する'
    }
}